# TD 4: Listes

---

## 1. Débuts avec les listes

Dans cette partie, il faut écrire les réponses directement dans le notebook. En plus du cours, n'hésitez pas à consulter la documentation (tutoriel) Python sur les listes [ici (introduction aux listes)](https://docs.python.org/fr/3.6/tutorial/introduction.html#lists) et [ici (complément sur les listes)] (https://docs.python.org/fr/3/tutorial/datastructures.html#more-on-lists).

1. Créer la liste `3, 5, 10`, l'affecter à une variable, puis l'afficher.

In [79]:
list = [3, 5, 10]

print(list)

[3, 5, 10]

2. Ajouter ensuite 12 et 17 à la fin puis afficher à nouveau la liste.

In [3]:
list.append(12)
list.append(17)

print(list)

[3, 5, 10, 12, 17]

3. Changer le 10 en -7.

In [4]:
list[2] = -7
print(list)

[3, 5, -7, 12, 17]

4. Avec une boucle `for`, écrire le double de chaque élément de la liste. Cela doit afficher `[6, 10, -14, 24, 34]`. La liste doit être modifiée.

In [5]:
for i in range(len(list)):
    list[i] = list[i]*2
print (list)

[6, 10, -14, 24, 34]

5. A l'aide d'une boucle `for`, ajouter  la valeur `i` à l'élément d'indice `i` de la liste. Cela doit afficher `[6, 11, -12, 27, 38]`. La liste doit être modifiée.

In [6]:
for i in range (len(list)):
    list[i] += i
print(list)

[6, 11, -12, 27, 38]

6. Tirer 10 nombres à 2 chiffres au hasard et les mettre dans une nouvelle liste (vide au départ), puis afficher la somme des entiers de la liste et le plus grand de ces entiers.

In [7]:
import random

list2 = []

for i in range (0, 10):
    a = (random.randint(10,99))
    list2.append(a)

print(list2)

[27, 92, 50, 57, 61, 16, 35, 68, 48, 79]

7. A partir de la liste choisie au hasard, créer une liste qui contient les éléments pairs et une deuxième liste qui contient les éléments impairs.

In [8]:
list2_pairs = []
list2_impairs = []
print(list2)

for i in range (len(list2)):
    if list2[i] % 2 == 0:
        list2_pairs.append(list2[i])

for i in range (len(list2)):
    if list2[i] % 2 != 0:
        list2_impairs.append(list2[i])


print(list2_pairs)
print(list2_impairs)

[27, 92, 50, 57, 61, 16, 35, 68, 48, 79]
[92, 50, 16, 68, 48]
[27, 57, 61, 35, 79]

8. Trier la liste choisie au hasard par ordre croissant en modifiant la liste.

In [9]:
list2 = sorted(list2)
print(list2)

[16, 27, 35, 48, 50, 57, 61, 68, 79, 92]

9. Supprimer le plus petit et le plus grand élément de la liste triée.

In [10]:
del list2[0]
del list2[8]
print(list2)

[27, 35, 48, 50, 57, 61, 68, 79]

10. Créer la liste des entiers de 1 jusqu'à 52. Ces entiers représentent les cartes d'un paquet de 52 cartes.

In [11]:
list_cartes = []

for i in range(1, 53):
    list_cartes.append(i)

print(list_cartes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]

 11. Couper le jeu de carte revient à choisir un indice `i` entre 0 et 51, et à passer toutes les cartes allant des indices 0 à i-1 à la suite des cartes qui vont des indices i à 51. Ecrire le code qui effectue une coupe choisie au hasard.

In [12]:
import random

x = random.randint(0, 51)
del list_cartes[0 : x-1]

#print (x)
print(list_cartes)

[42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]

---

## 2. Problème de Syracuse

Cette partie est à traiter dans un script que vous pouvez appeler, par exemple, `syracuse.py`.

En partant d'un entier `n` de départ, on définit une suite d'entiers en obtenant chaque nouveau terme à partir du précédent soit en le divisant par 2 s'il est pair, soit en le multipliant par 3 et en ajoutant 1 s'il est impair. 

1. Sans écrire de programme, calculer les premières valeurs de la suite en chosissant `n = 3`.

2. Ecrire la fonction qui, à partir d'un entier initial, renvoie la liste des valeurs successives jusqu'à ce que la valeur `1` soit atteinte (le dernier élément de la liste est donc toujours 1).

In [ ]:
def syracuse(n):
    """ Retourne la liste des valeurs de la suite en partant de n jusqu'à 1 """
    pass

print(syracuse(3))

In [ ]:
3
10
5
16
8
4
2
1
4
2
1

3. La conjecture de Collatz (ou problème de Syracuse) affirme que, quel que soit l’entier `n` que l’on choisisse au départ, on finit toujours par arriver à 1 (ce résultat est une *conjecture*, c'est-à-dire qu'il n'a pas été démontré, mais qu'il n'existe pas de contre-exemple connu). Écrire une fonction qui, en appelant la fonction précédente, va vérifier si la conjecture est vraie pour `n` de 1 à `n_max`, où `n_max` est un paramètre de la fonction. 

*Remarque*: si tout se passe bien, la fonction doit juste se terminer et renvoyer `True` par exemple. Sinon, c’est qu’on sera entré dans une boucle infinie.

In [ ]:
def testeConjecture(n_max):
    """ Teste la conjecture de Collatz pour toutes les valeurs de 2 à n_max """
    pass

print(testeConjecture(10000))

4. On appelle *temps de vol* de l’entier `n` le nombre d’étapes pour aller de `n` jusqu’à 1. Le temps de vol de 1 est 0, le temps de vol de 3 est 7. Écrire une fonction qui, étant donné un paramètre `n`, renvoie son temps de vol.

In [ ]:
def tempsVol(n):
    """ Retourne le temps de vol de n """
    pass

print("Le temps de vol de", 3, "est", tempsVol(3))

5. Ecrire une fonction qui, étant donné un paramètre `n_max` renvoie la liste des temps de vol de tous les entiers de 1 à `n_max`. *Indication*: utiliser une liste en compréhension.

In [ ]:
def tempsVolListe(n_max):
    """ Retourne la liste de tous les temps de vol de 1 à n_max """
    

print(tempsVolListe(100))

6. Déterminer quel entier entre 1 et 10000 a le plus grand temps de vol (réponse 6171 qui a le temps de vol 261).

7. L’altitude maximale de l'entier `n` est la plus grande valeur par laquelle passe `n` au cours de son vol. Déterminer quel entier entre 1 et 10000 a la plus grande altitude maximale (réponse 27114424, atteint par l'entier 9663). Ne pas hésiter à écrire de nouvelles fonctions pour cela.

---

## 3. Carré magique

*Définition* extraite de [l'article Wikipedia sur le carré magique](https://fr.wikipedia.org/wiki/Carr%C3%A9_magique_(math%C3%A9matiques)): en mathématiques, un carré magique d’ordre $n$ est composé de $n^2$ entiers strictement positifs, écrits sous la forme d’un tableau carré. Ces nombres sont disposés de sorte que leurs sommes sur chaque rangée, sur chaque colonne et sur chaque diagonale principale soient égales. On nomme alors *constante magique* la valeur de ces sommes. 

Un exemple de carré magique:

$$\begin{bmatrix} 4 & 14 & 15 & 1 \\ 9 & 7 & 6 & 12 \\ 5 & 11 & 10 & 8 \\ 16 & 2 & 3 & 13 \end{bmatrix}$$

1. Sans écrire de programme, vérifier qu'il s'agit bien d'un carré magique, et donner sa constante magique.

Les questions qui suivent doivent être traitées dans un script, qui peut s'appeler `carre_magique.py`. Pensez à utiliser [PythonTutor](http://pythontutor.com/) et les outils de programmation pour résoudre les problèmes qui pourraient survenir.

2. Créer une liste à deux dimensions affectée à  la variable `carre_mag` contenant ce carré magique.

3. Créer une deuxième liste affectée à la variable `carre_pas_mag` qui ne soit pas magique à partir du carré magique en changeant le 3 en 7.

4. Créer une fonction qui affiche la liste comme un carré.

In [ ]:
def afficheCarre(carre):
    """ Affiche la liste à 2 dimensions carre comme un carré"""
    
    pass

afficheCarre(carre_mag)
afficheCarre(carre_pas_mag)

5. Ecrire une fonction qui teste si les lignes du carré ont toutes la même somme. Cette fonction renvoie cette somme si c'est le cas, et `-1` sinon.

In [ ]:
def testLignesEgales(carre):
    """ Renvoie la somme des éléments d'une ligne de la liste 2D carre si toutes les lignes ont la même somme, et -1 sinon """
    pass

print(testLignesEgales(carre_mag))
print(testLignesEgales(carre_pas_mag))

6. Même question mais en testant les colonnes.

In [ ]:
def testColonnesEgales(carre):
    """ Renvoie la somme des éléments d'une colonne de la liste 2D carre si toutes les colonnes ont la même somme, et -1 sinon """
    pass

print(testColonnesEgales(carre_mag))
print(testColonnesEgales(carre_pas_mag))

7. Même question mais en testant les 2 diagonales.

In [ ]:
def testDiagonalesEgales(carre):
    """ Renvoie la somme des éléments d'une diagonale de la liste 2D carre si les 2 diagonales ont la même somme, et -1 sinon """
    pass

print(testDiagonalesEgales(carre_mag))
print(testDiagonalesEgales(carre_pas_mag))

8. Créer une fonction qui teste si un carré est magique. Elle retourne `True` si c'est le cas et `False` sinon.

In [ ]:
def estCarreMagique(carre):
    """ Renvoie True si c'est un carre magique et False sinon"""
    pass

print(estCarreMagique(carre_mag))
print(estCarreMagique(carre_pas_mag))

9. Un carré d'ordre $n$ est *normal* s'il contient tous les entiers de 1 à $n^2$. Ecrire une fonction qui teste si un carré est normal (pas nécessairement magique).

In [ ]:
def estNormal(carre):
    """ Retourne True si contient toutes les valeurs de 1 à n^2 où n est la taille 
        du carré, et False sinon """
    pass

print(estNormal(carre_mag))
print(estNormal(carre_pas_mag))

In [5]:
#Entrainement

L = []
for i in range (20, 41):
    L.append(i^2)

print (L)

M = []
for i in range (20, 41):
    M.append(i^3)

print (M)

[22, 23, 20, 21, 26, 27, 24, 25, 30, 31, 28, 29, 34, 35, 32, 33, 38, 39, 36, 37, 42]
[23, 22, 21, 20, 27, 26, 25, 24, 31, 30, 29, 28, 35, 34, 33, 32, 39, 38, 37, 36, 43]

In [15]:
nt = [2, 3, 5, 7, 11, 13, 17, 19]

def multiplication(m, n):
    ch = ""
    for i in range (n):
        v = m*i
        ch = ch + "%4d" % (v)
    return ch

    
for a in nt:
    print(multiplication(a, 15))

   0   2   4   6   8  10  12  14  16  18  20  22  24  26  28
   0   3   6   9  12  15  18  21  24  27  30  33  36  39  42
   0   5  10  15  20  25  30  35  40  45  50  55  60  65  70
   0   7  14  21  28  35  42  49  56  63  70  77  84  91  98
   0  11  22  33  44  55  66  77  88  99 110 121 132 143 154
   0  13  26  39  52  65  78  91 104 117 130 143 156 169 182
   0  17  34  51  68  85 102 119 136 153 170 187 204 221 238
   0  19  38  57  76  95 114 133 152 171 190 209 228 247 266

In [18]:
a, b, c = 1, 1, 1
while c < 11 :
    print(b, end =" ")
    a, b, c = b, a+b, c+1

1 2 3 5 8 13 21 34 55 89

In [5]:
#Entrainement

t1 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
t2 = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"]
t3= []

for i in range(0, 12):
    t3.append(t1[i])
    t3.append(t2[i])

print (t3)

[31, 'Janvier', 28, 'Février', 31, 'Mars', 30, 'Avril', 31, 'Mai', 30, 'Juin', 31, 'Juillet', 31, 'Aout', 30, 'Septembre', 31, 'Octobre', 30, 'Novembre', 31, 'Décembre']

In [7]:
t2 = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"]

for i in range(0, 12):
    print(t2[i], end=" ")

Janvier Février Mars Avril Mai Juin Juillet Aout Septembre Octobre Novembre Décembre

In [9]:
t4 = [32, 5, 12, 8, 3, 75, 2, 15]
print(max(t4))

75

In [19]:
#trier liste en nombre pair et impair

t4 = [32, 5, 12, 8, 3, 75, 2, 15]
tp = []
ti = []

for i in range (len(t4)):
    if t4[i] % 2 == 0:
        tp.append(t4[i])
    else:
        ti.append(t4[i])

print (tp)
print (ti)

[32, 12, 8, 2]
[5, 3, 75, 15]

In [20]:
tnoms = ["Jean", "Maximilien", "Brigitte", "Sonia", "Jean-Pierre", "Sandra"]
t_moins_de_6 = []
t_plus_de_6_ou_6 = []

for i in range (len(tnoms)):
    if len(tnoms[i]) < 6:
        t_moins_de_6.append(tnoms[i])
    else:
        t_plus_de_6_ou_6.append(tnoms[i])

print(t_moins_de_6)
print(t_plus_de_6_ou_6)

['Jean', 'Sonia']
['Maximilien', 'Brigitte', 'Jean-Pierre', 'Sandra']

In [21]:
#Écrivez un script qui génère la liste des carrés et des cubes des nombres de 20 à 40

liste_carre = []
liste_cube = []

for i in range(20, 41):
    carre = i**2
    liste_carre.append(carre)
    cube = i**3
    liste_cube.append(cube)

print(liste_carre)
print(liste_cube)

[400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]
[8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000]

In [25]:
from math import *

lsinus = []
lcos = []

for i in range (0, 91, 5):
    angle = (i*2*(pi))/360
    sinus = sin(angle)
    cosinus = cos(angle)
    lsinus.append(sinus)
    lcos.append(cosinus)

print(lsinus)
print(lcos)

[0.0, 0.08715574274765817, 0.17364817766693033, 0.25881904510252074, 0.3420201433256687, 0.42261826174069944, 0.49999999999999994, 0.573576436351046, 0.6427876096865393, 0.7071067811865476, 0.766044443118978, 0.8191520442889918, 0.8660254037844386, 0.9063077870366499, 0.9396926207859083, 0.9659258262890683, 0.984807753012208, 0.9961946980917455, 1.0]
[1.0, 0.9961946980917455, 0.984807753012208, 0.9659258262890683, 0.9396926207859084, 0.9063077870366499, 0.8660254037844387, 0.8191520442889918, 0.766044443118978, 0.7071067811865476, 0.6427876096865394, 0.573576436351046, 0.5000000000000001, 0.42261826174069944, 0.3420201433256688, 0.25881904510252074, 0.17364817766693041, 0.08715574274765814, 6.123233995736766e-17]

In [27]:
l_multiple =  [2, 3, 5, 7, 11, 13, 17, 19]

for i in range(1, 16):
    for j in range(8):
        print(l_multiple[j]*i, end=" ")

2 3 5 7 11 13 17 19 4 6 10 14 22 26 34 38 6 9 15 21 33 39 51 57 8 12 20 28 44 52 68 76 10 15 25 35 55 65 85 95 12 18 30 42 66 78 102 114 14 21 35 49 77 91 119 133 16 24 40 56 88 104 136 152 18 27 45 63 99 117 153 171 20 30 50 70 110 130 170 190 22 33 55 77 121 143 187 209 24 36 60 84 132 156 204 228 26 39 65 91 143 169 221 247 28 42 70 98 154 182 238 266 30 45 75 105 165 195 255 285

In [33]:
tnoms = ["Jean", "Maximilien", "Brigitte", "Sonia", "Jean-Pierre", "Sandra"]

for i in range (len(tnoms)):
    print("Le prénom", tnoms[i], "comporte", len(tnoms[i]), "caractères.")

Le prénom Jean comporte 4 caractères.
Le prénom Maximilien comporte 10 caractères.
Le prénom Brigitte comporte 8 caractères.
Le prénom Sonia comporte 5 caractères.
Le prénom Jean-Pierre comporte 11 caractères.
Le prénom Sandra comporte 6 caractères.

In [38]:
l = [3, 65, 8, 2, 56, 56, 3, 90, 2]
l_sans_doublon = []

for i in l:
    if i not in l_sans_doublon:
        l_sans_doublon.append(i)

print(l_sans_doublon)

[3, 65, 8, 2, 56, 90]

In [56]:
#Écrivez un script qui recherche le mot le plus long dans une phrase donnée (l’utilisateur du programme doit pouvoir entrer une phrase de son choix).

phrase = str(input("Entrez votre phrase"))

l = phrase.split()
mot_long = ""

for i in l:
    if len(i) > len(mot_long):
        mot_long = i

    
print(mot_long)

boomer

In [73]:
noms = ["Julie", "Léo", "Clara", "Mael", "Dorian", "Gersande", "Lorenzo", "Laura", "Clélie"]

noms.sort()

print(noms)

['Clara', 'Clélie', 'Dorian', 'Gersande', 'Julie', 'Laura', 'Lorenzo', 'Léo', 'Mael']

In [76]:
t1 = [31,28,31,30,31,30,31,31,30,31,30,31]
t2 = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Sept", "Oct", "Nov", "Dec"]

#12 mois, donc à la fin 24 indices

x = 1

for i in range(0, len(t1)):
    t2.insert(x, t1[i])
    x += 2

index = t2.index("Février")


print(index)
print(t2)

2
['Janvier', 31, 'Février', 28, 'Mars', 31, 'Avril', 30, 'Mai', 31, 'Juin', 30, 'Juillet', 31, 'Aout', 31, 'Sept', 30, 'Oct', 31, 'Nov', 30, 'Dec', 31]

SyntaxError: invalid syntax (<ipython-input-84-c58f90a9d708>, line 2)

In [88]:
def somme(l1, l2):
    a = 0
    for i in range(len(l1)):
        a += l1[i]
    for i in range (len(l2)):
        a += l2[i]

    return a

somme([1,2], [3])

6

In [110]:
liste1 = []

for j in range(1, 100):
    liste1.append(j)

liste2 = []

for i in range (1, 101):
    if i % 2 == 0:
        liste2.append(i)

liste3 = sorted(liste2, reverse=True)


liste = liste1 + liste3

print(liste)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [94]:
liste = []
for i in range(50):
    liste.append(i + 2)
print(liste[4 : 6])

[6, 7]

In [95]:
liste = [34, 21, 8]
sorted(liste)
v = liste[:] 
print(v)

[34, 21, 8]

In [96]:
def g(liste):
    liste[1] = 1

liste1 = [7, 2, 3, 4, 6, 1]
liste2 = liste1
g(liste1)

print(liste1[1], liste2[1])

1 1

In [99]:
def carre(liste):
    liste_carre = []

    for i in range(len(liste)):
        j = liste[i]**2
        liste_carre.append(j)

    return liste_carre

carre([1, 5, 3])

[1, 25, 9]

In [100]:
def f(x):
    if x > 0:
        return x+1
    else: 
        return 0

liste = [-2, 1, 5, -1, 0, 6, -3]
resultat = [f(j) for j in liste]

print(resultat)

[0, 2, 6, 0, 0, 7, 0]

In [101]:
liste = [5, 2, True, 7, "toto"]
print(liste[1] * liste[-1])

totototo

In [104]:
liste1 = [[1, 2], [1, 2]]
u = [1, 2]
liste2 = [u, u]
liste1[0][0] = 0
liste2[0][0] = 0

print(liste1[1][0], liste2[1][0])

1 0

In [106]:
liste300 = [5] * 2 + [0] * 3
liste300.append(1)
liste300.remove(0)
liste300.sort()
print(liste300)

[0, 0, 1, 5, 5]

In [7]:
n = 5

L = [[0] * n for i in range(n)]

for j in range(0, n):
    for i in range(len(L)):
        L[j][i]= i+j+1

print(L)

[[1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8], [5, 6, 7, 8, 9]]